@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

$body-color: rgba(60,60,60,255);
$text-color-light: rgba(213,213,213,255);
$text-color-yellow: rgba(206,175,67,255);
$color-grey: rgba(51,51,51,255);
$heading-family: 'Roboto Condensed', sans-serif;

/*     GENERAL     */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $heading-family;
}

h1,h2,h3,h4,h5,h6{
    font-family: $heading-family;
}

a{
    color: $text-color-light;
    text-decoration: none;

    &:hover{
        color:lighten($text-color-light, 10%);
    }
}

body{
    background-color: $text-color-light;
}

#wrapper{
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
}

#main-nav{
    width: 100%;
    height:20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-grey;

    ul{
        display: flex;
    }

    li{
        list-style-type: none;
        padding: 10px;
    }

    a{
        color: $color-grey;
    }
}

/*     FRONT PAGE     */

#front-page-container{
    width: 60%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#front-page-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-grey;
    padding-left: 50px;
    padding-bottom: 100px;

    h1{
        font-size: 18px;
    }

    h2{
        font-size: 52px;
        margin-bottom: 5px;
    }
}

#front-page-links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    & .link-card{
        width: 80%;
        height: 70px;
        background-color: lighten($body-color, 10%);
        display: flex;
        align-items: center;
        text-indent: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: $text-color-light;
        margin: 10px 0;

        &:hover{
            border: 1px solid orange;
        }

        }

        .middle{
            width: 100%;
        }
}


.center-box{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/*    ARCHIVE     */

#archive-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.archive-box{
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $color-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: $text-color-light;
    border-radius: 5px;

    img{
        width: 100%;
        height: auto;
    }

    h1{
        margin-top: 50px;
    }

    p{
        text-align: center;
        padding: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
        height: auto;
    }

    .read-more{
        padding: 10px;

        &:hover{
            border: 1px solid orange;
            border-radius: 5px;
        }
    }

}

/*     SINGLE     */

#single-container{
    width: 100%;
    min-height: 80vh;
    color: $color-grey;
    line-height: 1.5;
    margin-bottom: 50px;
}

#single-info{
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;

    img{
        width: 100%;
        height: auto;
    }
}

#single-info-left{
    width: 30%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;

    div{
        padding: 30px;
    }

    .title, .date, .tags{
        width: 100%;
        text-align: center;
        padding: 10px;
        color: $text-color-light;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .title{
        background-color: $color-grey;
    }

    .date{
        background-color: lighten($color-grey, 10%);
        margin: 5px 0;
    }

    .tags{
        background-color: lighten($color-grey, 20%);
    }
}

#single-info-right{
    width: 70%;
    height: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;

    p{
        margin: 10px 0;
    }
}

/*     ABOUT     */

#about-container{
    width: 100%;
    min-height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: $color-grey;
    background-color: #fff;
    border-radius: 5px;
}

#about-text{
    width: 60%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;

    .about-title{
        width: 70%;
    }

    p{
        margin-top: 20px;
        width: 70%;
        line-height: 1.5;
    }
}

#about-image{
    width: 40%;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey;

    img{
        width: 80%;
        height: auto;
        object-fit: contain;
        object-position: right;
    }
}


    


/*     MEDIA QUERIES     */

@media screen and (max-width: 1024px) {
    #archive-container{
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
    }

    #front-page-container{
        width: 90%;
    }

    
    #single-info{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    #single-info-left{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        div{
            padding: 30px;
        }
    
        .title, .date, .tags{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
    
    #single-info-right{
        width: 100%;
    }

    #about-container{
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    #about-text{
        min-height: auto;
    }
    
    #about-image{
        width: 90%;
        min-height: inherit;
        margin-bottom: 50px;

        img{
            width: 70%;
            height: auto;
            object-fit: contain;
            object-position: right;
        }
    }

    #about-text{
        width: 100%;
        min-height: auto;
    
        .about-title{
            width: 100%;
            text-align: center;
        }
    
        p{
            margin-top: 20px;
            width: 95%;
            line-height: 1.5;
        }
    }
  }

  @media screen and (max-width: 750px) {
    #front-page-container{
        flex-direction: column;
    }

    #front-page-links{
        width: 100%;
        height: auto;
    }

    #front-page-info{
        width: 100%;
        height: auto;
        padding-left: 0px;

        h1{
            font-size: 24px;
        }
    }

    .center-box{
        width: 100%;
        display: flex;
        align-items: center;
    }
    
  }


  @media screen and (max-width: 581px) {
    #archive-container{
        grid-template-columns: repeat(1, 1fr);
    }
}