@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

$body-color: rgba(60,60,60,255);
$text-color-light: rgba(213,213,213,255);
$text-color-yellow: rgba(206,175,67,255);
$heading-family: 'Roboto Condensed', sans-serif;

/*     GENERAL     */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $heading-family;
}

h1,h2,h3,h4,h5,h6{
    font-family: $heading-family;
}

a{
    color: $text-color-light;
    text-decoration: none;

    &:hover{
        color:lighten($text-color-light, 10%);
    }
}

body{
    background-color: rgba(51,51,51,255);
}

#wrapper{
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
}

#main-nav{
    width: 100%;
    height:20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    ul{
        display: flex;
    }

    li{
        list-style-type: none;
        padding: 10px;
    }
}

/*     FRONT PAGE     */

#front-page-container{
    width: 100%;
    height: 80vh;
}

#front-page-info{
    width: 80%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $text-color-yellow;
    border-bottom: 1px solid $text-color-light;

    h1{
        font-size: 44px;
        width: 50%;
        margin-bottom: 20px;
    }

    p{
        width: 70%;
        font-family: $heading-family;
    }
}

#front-page-links{
    width: 80%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .link-card{
        width: 30%;
        height: 60%;
        background-color: lighten($body-color, 10%);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & .link-card-text{
            width: 100%;
            height: 40%;
            background-color: lighten($body-color, 20%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & p{
                margin-top: 10px;
            }
        }
    }
}

/*    ARCHIVE     */

#archive-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.archive-box{
    min-height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(150,150,150,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    img{
        height: 250px;
        width: auto;
    }

    h1{
        margin-top: 50px;
    }

    p{
        text-align: center;
        padding: 20px;
        line-height: 1.5;
    }
}

/*     SINGLE     */

#single-container{
    width: 100%;
    min-height: 80vh;
    color: $text-color-light;
    line-height: 1.5;
}

#single-info{
    width: 100%;
    height: auto;
}


#single-info{
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;

    img{
        width: 100%;
        height: auto;
    }
}

#single-info-left{
    width: 30%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;

    div{
        padding: 30px;
    }
}

#single-info-right{
    width: 70%;
    height: auto;
    padding: 30px;

    p{
        margin: 10px 0;
    }
}

/*     PAGE     */

#page-container{
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: $text-color-light;
}

#page-text{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        padding: 20px;
        line-height: 1.5;
    }
}

#page-image{
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        height: auto;
        padding: 30px;
    }
}


/*     MEDIA QUERIES     */

@media screen and (max-width: 1024px) {
    #archive-container{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 581px) {
    #archive-container{
        grid-template-columns: repeat(1, 1fr);
    }
  }